@import "styles/var";
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    cursor: pointer;
    outline: none;
    svg {
      fill: $secondColor;
      transition: -webkit-filter $transitionSpeed, fill $transitionSpeed;
    }
    &:focus {
      svg {
        fill: $focusSecondColor;
        -webkit-filter: drop-shadow( 0 0 2px $focusSecondColor);
        transition: -webkit-filter $transitionSpeed, fill $transitionSpeed;
      }
    }
  }

  .rightBlock {
    display: flex;
    align-items: center;

    .search {
      min-width: 300px;
    }
  }

  span {
    font-size: 20px;
    font-weight: bold;
    color: #444444;
  }
}