@import "styles/var";

.inputContainer {
  position: relative;

  input {
    border-radius: 20px;
    outline: none;
    padding: 5px 10px;
    border: 1px solid $mainColor;
    width: 100%;
    height: $inputHeight;
    transition: box-shadow $transitionSpeed;
    box-shadow: 1px $mainColor;
    &:focus {
      box-shadow: 0 0 5px $focusMainColor;
      border-color: $focusMainColor;
      transition: box-shadow $transitionSpeed;
    }
  }

  &:focus-within {
    .iconWrapper {
      border-color: $focusMainColor;
      box-shadow: 0 0 2px $focusMainColor;
    }
  }

  input::-webkit-input-placeholder {
    transition: opacity $transitionSpeed ease-out;
    opacity: 1;
  }
  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity $transitionSpeed ease;
  }

  &.withIcon {
    input {
      padding-left: 40px;
    }
  }
}

.iconWrapper {
  outline: none;
  top: 0;
  cursor: pointer;
  border: 1px solid $mainColor;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $inputHeight;
  width: $inputHeight;
  transition: background-color $transitionSpeed;
  svg {
    fill: black;
    width: 12px;
    height: 12px;
    transition: fill $transitionSpeed;
  }
  &:hover, &:focus {
    background-color: $focusMainColor;
    transition: background-color $transitionSpeed;
    border-color: $focusMainColor;

    svg {
      fill: #fff;
      transition: fill $transitionSpeed;
    }
  }
}