@import "styles/var";

.buttonContainer {
  position: relative;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  & {
    outline: none!important;
  }
  svg {
    height: 30px;
    width: 30px;
    fill: $secondColor;
    outline: none!important;
  }
  &:focus {
    svg {
      fill: $focusSecondColor;
    }
  }

  &:focus-within {
    .favoriteCount {
      background-color: $focusSecondColor;
      transition: background-color $transitionSpeed;
    }
  }

  .favoriteCount {
    position: absolute;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    top: -10px;
    right: -10px;
    transition: background-color $transitionSpeed;
    background-color: $secondColor;
    color: white;
    font-weight: 600;
    font-size: 12px;
  }
}