@import "styles/var";

.homePageContainer {
  .filmsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
  }

  .filters {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;

    label {
      color: $mainColor;
      display: inline-block;
      margin-bottom: 7px;
    }
  }
}